@media(min-width: 1200px){
	.about-content1{
		margin-top: 10px;
		height: 450px;
	}
}

@media(max-width: 1200px){
	.share-three{
		padding-bottom: 40px;
	}
}
@media(max-width: 768px){
	.about-content2{
		padding-bottom: 50px;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.about-content1{
		height: 550px;
	}
		.about-content2{
		padding-bottom: 50px;
	}
}
@media(min-width: 992px) and (max-width: 1199px){
	.about-content1{
		height: 450px;
	}
		.about-content2{
		padding-bottom: 50px;	
	}
}
.about-content1 img{
	width: 70%;
}
.about-content-box h2{
	color: #d34747;
	text-decoration: none;
}
.about-content-box a.for-more{
		background-color: #d34747;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		bottom: 50px;
		color: white;
		width: 110px;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
	}
@media(min-width: 1200px){
		.about-content1 h2{
		color: #d34747;
	}
	.about-content2 h2{
		color: #d34747;
	}
	.about-content-box{
		width: 100%;
		height: 970px;
	}
	.about-content-box a.for-more{
		bottom: 140px;
	}
}
.about-content1 h3{
	font-family: 'libel suit';
}

